<div class="vcard">
  <div class="adr">
  <h1>Data for <span class="fn org postal-code"><%= @postcode.postcode %></span></h1>
    <div class="result geo row">
      <div class="col-md-7">
      <dl class="dl-horizontal">
        <dt>Latitude</dt>
        <dd class="latitude"><%= @postcode.lat.round(6) %></dd>
        <dt>Longitude</dt>
        <dd class="longitude"><%= @postcode.lng.round(6) %></dd>
        <dt>Easting</dt>
        <dd class="easting"><%= @postcode.easting.to_i %> <%= "<em class='ing'>(Irish National Grid)</em>".html_safe if @postcode.ni? %></dd>
        <dt>Northing</dt>
        <dd class="northing"><%= @postcode.northing.to_i %> <%= "<em class='ing'>(Irish National Grid)</em>".html_safe if @postcode.ni? %></dd>
        <dt>Geohash URI</dt>
        <dd class="geohash_uri"><%= link_to @postcode.geohash, @postcode.geohash %></dd>
        <dt>Openly Local URL</dt>
        <dd class="openly_local_url"><%= link_to "http://openlylocal.com/areas/postcodes/#{@postcode.postcode.gsub(' ', '')}", "http://openlylocal.com/areas/postcodes/#{@postcode.postcode.gsub(' ', '')}" %></dd>          
        <% @postcode.admin_areas.each do |title, area| %>
            <dt><%= title.to_s.titleize %></dt> 
            <% if @postcode.ni? %>
              <dd class="<%= title.to_s.gsub(" ", "_") %>"><%= area[:name] %></dd>
            <% else %>
              <dd class="<%= title.to_s.gsub(" ", "_") %>"><%= link_to area[:name], area[:os_uri] %></dd>
            <% end %>
        <% end %>
      </dl>
      </div>
      <div class="col-md-5">
        <%= map(:center => {
            :latlng => [@postcode.lat, @postcode.lng],
            :zoom => 16,
            },
            :markers => [
              {
                 :latlng => [@postcode.lat, @postcode.lng],
              }
            ]
        )%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Get this data as:</p>
        <p class="text-center"><%= alternate_link_buttons(:icon => '') %></p>
      </div>
    </div>
  </div>
</div>
