<!DOCTYPE html>
<html>
<head>
  <title>UK Postcodes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= alternate_auto_discovery_link_tags %>
</head>
<body>
  
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UK Postcodes</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li <%= 'class="active"'.html_safe if current_page?('/') %>><a href="/">Home</a></li>
          <li <%= 'class="active"'.html_safe if current_page?('/about') %>><a href="/about">About</a></li>
          <li <%= 'class="active"'.html_safe if current_page?('/api') %>><a href="/api">API</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
<div class="container" id="wrap">
  <div id="main">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-center">This site uses Royal Mail and Ordnance Survey data &copy; Crown copyright and database right 2010 and Office for National Statistics data &copy; Crown copyright and database right 2010 (ONSPD).</p>
    <p class="text-center">Great Britain postcode data may be used under the terms of the <a href="http://www.ordnancesurvey.co.uk/oswebsite/opendata/faq.html">OS OpenData licence</a>. Northern Ireland postcode data may be used under the terms of the <a href="http://www.ons.gov.uk/ons/guide-method/geography/products/postcode-directories/-nspp-/onspd-open-licence.doc">ONSPD licence</a></p>
  </div>
</div>

</body>
</html>
